body {
    background-color: darkblue;
    color: lightgrey;
    padding: 30px;
}

.card {
    background-color: rgb(50, 57, 65);
}


.sidebar {
  background-color: rgb(50, 57, 65);
  float: left;
  width: 30%;
  max-width: auto;
  min-width: 50px;
}

.content {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px;
  border: 1px;
  text-align: center;
  width: 58%;
  float: right;
}

